.window {
	font-family: monospace;
	font-size: 2rem;
	color: black;
	background-color: mintcream;
	position: relative;
	width: 100%;
	flex-grow: 1;

	min-height: 2em;

	margin-top: 20px;
	margin-bottom: 20px;

	padding-left: 5px;
	padding-top: 10px;

	border-radius: 10px;
	border: 1px solid black;

	list-style: none;
	overflow: auto;
}

.window::-webkit-scrollbar {
	width: 0.5em;
}

.window::-webkit-scrollbar-track {
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 10px;
}

.window::-webkit-scrollbar-thumb {
	background-color: rgba(135, 206, 250, 0.5);
	border-radius: 20px;
}
