.content {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction:column;
    
    width: 100%;
    max-width: 500px;
    height: 100vh;
    
    padding: 20px;
    color: whitesmoke;
    border: 1px solid #211b62;
    box-shadow: 0 1px 2px 1px #2417ad;
    background-color: rgba(9, 18, 26, 0.8);
}

@media (min-width: 500px) {
    .content {
        position: absolute;
        max-height: 600px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 20px;
    }    
}