.formList {
	list-style: none;
	display: flex;
	flex-direction: column;
}

.formList li {
	margin-top: 5px;
}

.errorMessage {
	height: 1em;
	color: red;
	text-align: center;
}

.numberInput {
	font-size: 2em;
	width: 100%;
	display: flex;
	justify-content: right;
	gap: 25px;
	margin-bottom: 10px;
}

.numberInput input {
	font-size: 1em;
}
