.formList {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.formList li {
    margin-top: 5px;
}

.errorMessage {
    height: 1em;
    color: red;
    text-align: center;
}

.codeInput {
    width: 100%;
}

.lonelySingles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.choices {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5px;
}