.formList {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.formList li {
  margin-top: 5px;
}

.errorMessage {
  line-height: 2em;
  height: 2em;
  color: red;
  text-align: center;
  vertical-align: center;
}
